<!DOCTYPE html>
<html>
   <head>
      <title>General FAQ</title>
   </head>
   <body>
      <p>General FAQ</p>
      <p>
        What is the eligibility to apply for iBanking?
        You will need to be 16 years old and have a personal or joint-alternate account of the following:
        
        DBS Autosave/Current/Savings Plus or POSB Savings/Current Account
        DBS or POSB Credit Card/Debit Card
        DBS Cashline/Home Loan with Servicing Account
        What can I do on iBanking?
        Please click here for the list of services that we presently offer.
        
        Why should I choose DBS iBanking?
        You should choose DBS iBanking because:
        
        It's Easy to get started
        Register now using your personal ATM card*, Debit card, or Credit card and instantly access your accounts online . For more information on online registration for iBanking, click here.
        * Includes DBS Bankcard, ALUMNUS card and POSB ATM cards.
        
        It's Your Own Bank
        You have instant access to the latest information of both your DBS and POSB accounts. You will be able to see the deposit accounts, cards, investments and loans that you have with DBS.
        It's Safe & Easy
        Our simple and intuitive navigation toolbars guarantee you a smooth online experience. And as the bank that cares, we've built in the following security features that protect every transaction you make with DBS iBanking. You can now bank with confidence, knowing that your transactions remain safe with us.
        100% security on your funds with automatic coverage under our Money Safe Guarantee - In the unlikely event that there is an unauthorized transaction, we will repay the money taken from your account.
        Safe and secure transactions with Transaction Signing and (multifactor authentication) & transaction alerts.
        It's Fast
        It takes only a few minutes to get your latest account information. You can also complete your banking transactions online and avoid the hassle of queuing.
        It's Convenient
        You can perform transactions online from wherever you are.
        It's 24 Hours
        With DBS iBanking, you can get information about your DBS and POSB accounts at any time without having to wait for your monthly statement.
        It's Cost Saving
        You will enjoy commission discounts when you use selected iBanking services.
        No Special Software is Required
        You don't need to purchase any special software. As long as you have a PC with the minimum configuration, you are ready to start.
        Wide Range of Services
        With over 150 online banking services, iBanking will help you to better manage your finances.
        How much does it cost to use DBS iBanking?
        It's free. To encourage more customers to experience the true convenience of online banking for themselves, DBS iBanking is now available to you without any sign-up nor subscription fees*.
        
        
      </p>
   </body>
</html>