<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
<style> 

.icon-bar {
  position: fixed;
  top: 50%;
  right:0%
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: black;
  font-size: 20px;
}

.icon-bar a:hover {
  background-color:powderblue;
}




</style>
<body>

<div class="icon-bar">
    <a id='faqclick' href="file:/Users/yb/Documents/GitHub/escRainbow/views/ui/faqpage.html" target="_blank">Link 1</a>
</div>
</body>
