<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inventory Overview</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <style>
        .search_bars {
            margin: 5px;
        }
        .row {
            margin: 10px;
            align-items: center;
            justify-content: center;
        }

        th {
            cursor: pointer;
        }
    </style>
</head>
<body>
    <center>
        <div class="jumbotron">
            <h1>Inventory Overview</h1>
        </div>
        <div style="width: 80%" align="center">
            <div id="search_bars" class="row">
                <input id="search_id" type="search" class="form-control form-control-sm col-sm-4 search_bars" placeholder="Search ID..." onkeyup="search_id()">
                <input id="search_name" type="search" class="form-control form-control-sm col-sm-4 search_bars" placeholder="Search Item Name..." onkeyup="search_name()">
            </div>
            <table class="table table-hover table-sm" style="width: 100%" id="database_table">
                <caption>Inventory overview of in-stock items</caption>
                <tr class="thead-dark">
                    <th scope="col" onclick="sortTable(0)">ID</th>
                    <th scope="col" onclick="sortTable(1)">Name</th>
                    <th scope="col" onclick="sortNumeric(2)">Unit Price</th>
                    <th scope="col" onclick="sortNumeric(3)">In Stock</th>
                </tr>
                {% for item_id in mydb %}
                    <tr>
                        <th scope="row">{{item_id}}</th>
                        <td>{{mydb[item_id]['name']}}</td>
                        <td><b>{{mydb[item_id]['price']}}</b> SGD/{{mydb[item_id]['unit']}}</td>
                        <td><b>{{mydb[item_id]['stock']}}</b></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </center>
    <br>
    <div align="center">
        <button class="btn btn-warning" onclick="window.location.href='/display/database.csv'" style="width: 20%">Download as CSV</button>
        <button class="btn btn-danger" onclick="window.location.href='/'" style="width: 20%">back</button>
    </div>
<script type="text/javascript" src="{{url_for('static', filename='js/table_utils.js')}}"></script>
</body>
</html>