<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Item to Database</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <style>
        .form-control {
            display: block;
            background-color: #fff;
            color: #21bf4b;
            border-radius: 4px;
            border: 2px solid #2584cc;
            spacing: 5px;
        }

        .option_style {
            background-color: #fff;
            color: #1f60c2;
            border: 1px solid #1f60c2;
        }
    </style>
</head>
<body>
    <div class="jumbotron" style="text-align: center">
        <h1>Add Item to Database</h1>
    </div>
    <div align="center">
        <form method="post" style="width: 55%; text-align: left" id="1">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="item_id">Item ID: </label>
                <div class="col-sm-10">
                    <input class="form-control" type="text" name="item_id" placeholder="Item ID" id="item_id" required>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="item_name">Item name: </label>
                <div class="col-sm-10">
                    <input class="form-control" type="text" name="item_name" placeholder="Name" id="item_name" required>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="item_price">Unit price: </label>
                <div class="col-sm-7">
                    <input class="form-control" type="number" step="0.01" name="item_price" placeholder="Price" id="item_price" required>
                </div>
                <small class="col-sm-1 form-text">SGD</small>
                <div class="col-sm-2">
                    <select class="form-control" form="1" name="item_unit">
                        <option class="option_style" value="unit" selected>unit</option>
                        <option class="option_style" value="kg">kg</option>
                        <option class="option_style" value="g">g</option>
                        <option class="option_style" value="box">box</option>
                        <option class="option_style" value="bottle">bottle</option>
                        <option class="option_style" value="pack">pack</option>
                        <option class="option_style" value="mL">mL</option>
                        <option class="option_style" value="Litre">Litre</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="item_stock">Item stock: </label>
                <div class="col-sm-10">
                    <input class="form-control" type="number" name="item_stock" placeholder="Quantity in stock" id="item_stock" required>
                </div>
            </div>
            <div class="form-group" align="center">
                <input class="btn btn-primary" type="submit" value="submit" name="submit" style="width: 200px">
            </div>
        </form>
        <div align="center">
            <button class="btn btn-danger" onclick="window.location.href='/'" style="width: 200px">back</button>
        </div>
    </div>
</body>
</html>