<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/es5-shim/4.5.9/es5-shim.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/es6-promise/4.0.5/es6-promise.min.js"></script>
    <script src="//cdn.jsdelivr.net/momentjs/2.15.1/moment-with-locales.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.5/angular.min.js"></script>
    <script src="/js/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/chat.css">
    <script src="/js/chat.js"></script>
</head>
<body>
    <div class="chat">
        <div class="card">
            <div class="card-header msg_title">
                <button class="btn btn-danger chat-btn" id="quit" type="button">Exit</button>
                <div class="d-flex justify-content-center mt-5">
                    <div class="user_info">
                        <span>Happy to chat with you!</span> <span id="fName"><%=sess.fName%></span> <span id="lName"><%=sess.lName%></span>
                    </div>
                </div>
            </div>
            <div class="card-body msg_card_body" id="conversation_body">
                <!--A bot message sample-->
                <!-- <div class="d-flex justify-content-start mb-4">
                    <div class="msg_cotainer">
                        <span class="msg_head">Bot</span>
                        Sample reply from bot
                        <span class="msg_time">2020-3-3 22:49:43</span>
                    </div>
                </div> -->
                <!--An agent message sample-->
                <!-- <div class="d-flex justify-content-start mb-4">
                    <div class="msg_cotainer">
                        <span class="msg_head">Agent 01</span>
                        Sample reply from Agent
                        <span class="msg_time">2020-3-3 23:49:43</span>
                    </div>
                </div> -->
            </div>
            <div class="card-footer fixed-bottom">
                <form>
                    <div class="input-group">
                        <input id='userInputMsg' class="form-control type_msg" placeholder="Type your message..." type="text">
                        <div class="input-group-append">
                            <span class="input-group-text send_btn"><button class="btn btn-success" type="submit">Send</button></span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>