body,html{
    height: 100%;
    margin: 0;
    background: #7F7FD5;
    background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
}

.chat{
    margin-top: 0;
    margin-bottom: 0;
}
.card{
    height: 100%;
    border-radius: 0px !important;
    background-color: rgba(0,0,0,0.4) !important;
}
.msg_card_body{
    position: relative;
    overflow-y: auto;
}
.card-header{
    position: relative;
    border-radius: 15px 15px 0 0 !important;
    border-bottom: 0 !important;
}
.card-footer{
    position: relative;
    border-radius: 0 0 15px 15px !important;
    border-top: 0 !important;
}
.container{
    align-content: center;
}
.type_msg{
    background-color: rgba(0,0,0,0.3) !important;
    border:0 !important;
    color:white !important;
    height: 60px !important;
    overflow-y: auto;
}
.type_msg:focus{
    box-shadow:none !important;
    outline:0px !important;
}

.msg_cotainer{
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
    border-radius: 15px;
    background-color: #82ccdd;
    padding: 10px;
    position: relative;
    text-align: left;
    white-space: normal;
}
.msg_cotainer_send{
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 15px;
    background-color: #78e08f;
    padding: 10px;
    position: relative;
    text-align: right;
    white-space: normal;
}
.msg_time{
    position: relative;
    left: 15;
    color: rgba(255,255,255,0.5);
    font-size: 10px;
    overflow-x: visible;
    text-align: left;
    overflow-wrap: normal;
    white-space: nowrap;
}
.msg_time_send{
    position: relative;
    right: 15px;
    color: rgba(255,255,255,0.5);
    text-align: right;
    font-size: 10px;
    overflow-x: visible;
    overflow-wrap: normal;
    white-space: nowrap;
}
.msg_body{
    position: relative;
}
.msg_head{
    position: relative;
    color: rgba(255,255,255,0.5);
    font-size: 10px;
    left: 15px;
    top: 15px;
    white-space: nowrap;
    overflow-x: visible;
    text-align: left;
}
.msg_head_send{
    position: relative;
    color: rgba(255,255,255,0.5);
    font-size: 10px;
    right: 15px;
    top: 15px;
    white-space: nowrap;
    overflow-x: visible;
    text-align: right;
}
.chat-btn{
    max-width: 100px;
    color: white;
    margin: 0.5rem;
    margin-left: 2rem;
}
.user_info{
    font-size: 3.5vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: initial;
    color: azure;
}
.send_btn{
    background-color: rgba(0,0,0,0.3) !important;
    border:0 !important;
}

.q0,.q1,.q2,.q3{
    border-color: white;
    border-width: 1px;
    background-color: darkslategray;
}

.q4{
    border-color: white;
    border-width: 1px;
    background-color: mediumaquamarine;
}

@media(max-width: 576px){
.contacts_card{
margin-bottom: 15px !important;
}
}